<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pab.deucepadelapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_deuce"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_deuce"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeucePadelApp"
        android:usesCleartextTraffic="true"> <activity
        android:name=".activity.SplashActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".activity.DetailCourtActivity"
            android:exported="false" />

        <activity
            android:name=".activity.BookingActivity"
            android:exported="false" />

        <activity
            android:name=".activity.EWalletPaymentActivity"
            android:exported="false" />

        <activity
            android:name=".activity.VirtualAccountActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activity.BookingHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ReceiptSimulationActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>